
* {
    box-sizing: border-box;
}

body {
    font-family: "poppins", sans-serif;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

img {
    max-width: 100%;
    }

.mobile-container {
    background-color: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 5px #3333331a;
    width: 400px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

header input {
    background-color: #eeeeee;
    border: none;
    border-radius:  3px;
    padding: 0.5rem 1rem;
    font-family: inherit;
}
header input:focus {
    outline: none;
    padding: 0.7rem 1rem;
    border: solid 1px rgb(236, 192, 247);
    border-radius: 10px;
}

header button {   
    background-color: transparent;
    border: none;
    color: #9b9797;
    font-size: 1.5rem;
    margin-left: 10px;
}
header button:focus {
    outline: none;
 
}

.fav-container {
    background-color: rgb(236, 221, 247);
    padding: 1rem;
    text-align: center;
}

.fav-meals {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    list-style: none;
    padding: 0;
}

.fav-meals li {
   cursor: pointer;
  margin: 5px;
  width: 75px;
  position: relative;
 
}

.fav-meals li .clear{
   background-color: transparent;
   position: absolute;
   opacity: 0;
   top: -.8rem;
   right: -.8rem;
   border: none;
   color: purple;
   padding: 15px;
   cursor: pointer;
  
  }


.fav-meals li .clear:focus {
  outline: none;
   }

  .fav-meals li:hover .clear {
   opacity: 1;
   
   }
 



.fav-meals li img {
    border: 2px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 5px #3333331a;
    object-fit: cover;
    height: 70px;
    width: 70px;
   
}

.fav-meals li span {
    font-size: 0.9rem;
    color: purple;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75px;
}


.meal {
    border-radius: 3px;
    box-shadow: 0 0 5px #3333331a;
    margin: 1.5rem;
    overflow: hidden;
    cursor: pointer;
    
}


.meal-header {
  position: relative;
 
}

.meal-header .random {
    position: absolute;
    top: 1rem;
    background-color: #ffffff;
    padding: 0.25rem .5rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.meal-header img {
  object-fit: cover;
  height: 250px;
  width: 100%;
  
} 

.meal-body {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 1rem;
}

.meal-body h4 {
    margin: 0;
}

.meal-body .fav-btn {
    border: none;
    background-color: transparent;
    color: rgb(212, 205, 205);
    font-size: 1.2rem;
    cursor: pointer;
}



.meal-body .fav-btn:focus {
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    outline: none;
  
}

.meal-body .fav-btn.active {
    color: rebeccapurple;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    outline: none;
}
.meal-recipe-container {
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;


}

.meal-recipe-container.hidden {
    opacity: 0;
    user-select: none;
    pointer-events: none;
}



.popup {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0 2rem;
    overflow: auto;
    max-width: 500px;
    max-height: 100vh;
    width: 100%;
    position: relative;
    
}

.popup .close-modal {
    background-color: transparent;
    border: none;  
    font-size: 2rem;
    cursor: pointer;
    padding: .5rem;
    top: 1rem;
    position: absolute;
    right: 1rem;
  }

.meal-recipe h1 {
text-align: center;
font-family: inherit;
}



.meal-recipe-container .close-modal:focus {
    background: transparent;
    border: none;
    outline: none;
   
  }

 